<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<Console name="CONSOLEINFO" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level  %msg%n" />
		</Console>
		<RandomAccessFile name="RandomAccessFile" fileName="APIAutomation_async.log"
			immediateFlush="false" append="true">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</Pattern>
			</PatternLayout>
		</RandomAccessFile>
		<RandomAccessFile name="RandomAccessFileDetail"
			fileName="APIAutomation_async_detail.log" immediateFlush="false"
			append="true">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</Pattern>
			</PatternLayout>
		</RandomAccessFile>
		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="10 MB" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<Root level="info">
			<AppenderRef ref="CONSOLEINFO" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>